<div class="newjourney">
<h1>New Journey</h1>
<p>Create and save your Journey. <br> Please specify your origin and destination.</p>

<%= render 'form', journey: @journey %>

<%= link_to 'Back', journeys_path %>
</div>